body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f2f2f2;
  }
  
  h1, h2, h3 {
    text-align: center;
  }
  
  #game-controls, #move-controls {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .board {
    display: inline-block;
    width: 45%;
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    border: 2px solid #333;
  }
  
  pre {
    background-color: #eee;
    padding: 10px;
    overflow: auto;
  }
  